<main class="green">
	<div class="container sessions">
		<div class="btn-home center">
	    <%= link_to root_path, class: 'center btn-floating btn-large waves-effect waves-light red' do%>
	    <i class="fa fa-foursquare white-text"></i>
	    <% end %>
	  </div>
		<div class="card">
			<div class="card-content">
				<h3 class="flow-text">Resend confirmation instructions</h3>
			</div>
				
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  <div class="card-content">
		  	<%= devise_error_messages! %>
		  </div>
		  	
		  <div class="card-action">
		  	<div class="input-field">
		    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
		    <%= f.label :email %><br />
		  </div>

		  <div class="card-content center">
		    <%= f.submit "Resend confirmation instructions", class: 'btn' %>
		  </div>	
		  </div>
		<% end %>
		<div class="card-action">
			<%= render "devise/shared/links" %>	
		</div>
		
		</div>
	</div>
</main>
<div class="footer"></div>>
