<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Dashboard</a></li>
  <li><a href="#!">settings</a></li>
  <li class="divider"></li>
  <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete'%></li>
</ul>

<div class="navbar-fixed">
	<nav class="grey lighten-5">
    <div class="nav-wrapper container">
      <%= link_to root_path, class: 'brand-logo hide-on-small-and-down' do %>
        <i class="large material-icons teal-text">dashboard</i>
      <% end %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons blue-grey-text">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <li><%= link_to 'Events', events_path, class: 'grey-text text-darken-1' %></li>
        <li><a class="grey-text text-darken-1 dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.email %><i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <% else %>
        <li><%= link_to 'Events', events_path, class: 'grey-text text-darken-1' %></li>
        <li><%= link_to 'Sign-up', new_user_registration_path, class: 'grey-text text-darken-1' %></li>
        <li><%= link_to 'Login', user_session_path, class: 'grey-text text-darken-1' %></li>
        <% end %>
      </ul>
      <div class="right">
        <form>
          <div class="input-field">
            <input type="search" id="search-field" class="field" required placeholder="search event">
            <label for="search-field"><i class="grey-text text-darken-1 mdi-action-search"></i></label>
            <i class="mdi-navigation-close close"></i>
          </div>
        </form>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li class="logo center">
          <%= link_to root_path do %>
          <i class="large material-icons teal-text">dashboard</i>
        <% end %>
        </li>
        
        <% if user_signed_in? %>
        <li class="no-padding">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <a class="collapsible-header collapsible-header grey-text text-darken-1 waves-effect waves-teal"><%= current_user.email %></a>
              <div class="collapsible-body">
                <ul>
                  <li><%= link_to 'Dashboard', root_path, class: 'light grey-text text-darken-1' %></li>
                  <li><%= link_to 'My account', new_user_registration_path, class: 'light grey-text text-darken-1' %></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><%= link_to 'Events', events_path, class: 'grey-text light text-darken-1' %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'light grey-text text-darken-1'%></li>
        <% else %>
        <li><%= link_to 'Events', root_path, class: 'grey-text text-darken-1 light' %></li>
        <li><%= link_to 'Sign-up', new_user_registration_path, class: 'light grey-text text-darken-1' %></li>
        <li><%= link_to 'Login', user_session_path, class: 'light grey-text text-darken-1' %></li>
        <% end %>

        
      </ul>
    </div>
	</nav>
</div>