<%= render 'shared/navigation' %>
<main>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2 hide-on-small-and-down">Website Name</h1>
        <div class="row center">
          <h2 class="header col s12 light white-text">we help make great events happen.</h2>
        </div>
        <div class="row center">
          <% if user_signed_in? %>
          <%= link_to 'Get Started', new_event_path, id: 'download-button', class: 'btn-large waves-light waves-effect teal lighten-1'%>
          <% else %>
          <%= link_to 'Get Started', user_session_path, id: 'download-button', class: 'btn-large waves-light waves-effect teal lighten-1'%>
          <% end %>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag 'event.jpg'%></div>
  </div>

  <section class="center">
    <h2 class="light">UPCOMING EVENTS</h2>
    <div class="container divider"></div>
  </section>
    
  <section class="container">
    <div class="show-events">
      <%= link_to 'show all upcoming events', events_path, class: 'btn btn-large' %>
    </div>
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">

      	<% @events.each do | event | %>
	        <div class="col s12 m6 l4">
            <div class="card small">
              <div class="card-image">
                <%= image_tag event.image.url(:thumb), class: 'responsive-img' %>
              </div>
               
              <div class="card-content">
                <p class="light blue-grey-text">
                    <i class="fa fa-calendar-plus-o"></i><span class="event-date black-text"><%= event.starts.try(:strftime, '%a, %B %d, %Y') %></span>
                </p>
                <p class="light blue-grey-text">
                   <i class="fa fa-calendar-minus-o"></i><span class="event-date black-text"><%= event.ends.try(:strftime, '%a, %B %d, %Y') %></span>
                </p>
              </div>

              <div class="card-action">
                <%= link_to 'know more', event, class: 'light blue-text hover' %>
              </div>
            </div>
          </div>
				<% end %>
      </div>
    </div>
  </section>
 
   <section class="center">
      <h2 class="light">MORE EVENTS</h2>
      <div class="container divider"></div>
  </section>
  <section class="container">
      <div class="show-events">
      <%= link_to 'show more events', events_path, class: 'btn btn-large' %>
    </div>
  <div class="section">
      <!--   Icon Section   -->
        <div class="row">
        <div class="col s12 m6 l4">
          <div class="card small">
            <div class="card-image">
              <%= image_tag 'event1.png', class: 'responsive-img'%>
            </div>
            <div class="card-content">
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-plus-o"></i><span class="event-date black-text">Wed Setember 20, 2015</span>
              </p>
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-minus-o"></i><span class="event-date black-text">Wed October 20, 2015</span>
              </p>
            </div>
            <div class="card-action">
              <a class="light blue-text hover" href="#">know more</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card small">
            <div class="card-image">
              <%= image_tag 'event2.png', class: 'responsive-img'%>
            </div>
            <div class="card-content">
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-plus-o"></i><span class="event-date black-text">Wed Setember 20, 2015</span>
              </p>
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-minus-o"></i><span class="event-date black-text">Wed October 20, 2015</span>
              </p>
            </div>  
            <div class="card-action">
              <a class="light blue-text hover" href="#">know more</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card small">
            <div class="card-image">
              <%= image_tag 'event3.jpg', class: 'responsive-img'%>
            </div>
            <div class="card-content">
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-plus-o"></i><span class="event-date black-text">Wed Setember 20, 2015</span>
              </p>
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-minus-o"></i><span class="event-date black-text">Wed October 20, 2015</span>
              </p>
            </div>
            <div class="card-action">
              <a class="light blue-text hover" href="#">know more</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card small">
            <div class="card-image">
              <%= image_tag 'event4.jpg', class: 'responsive-img'%>
            </div>
            <div class="card-content">
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-plus-o"></i><span class="event-date black-text">Wed Setember 20, 2015</span>
              </p>
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-minus-o"></i><span class="event-date black-text">Wed October 20, 2015</span>
              </p>
            </div>
            <div class="card-action">
              <a class="light blue-text hover" href="#">know more</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card small">
            <div class="card-image">
              <%= image_tag 'event5.jpg', class: 'responsive-img'%>
            </div>
            <div class="card-content">
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-plus-o"></i><span class="event-date black-text">Wed Setember 20, 2015</span>
              </p>
              <p class="light blue-grey-text">
                <i class="fa fa-calendar-minus-o"></i><span class="event-date black-text">Wed October 20, 2015</span>
              </p>

            </div>
            <div class="card-action">
              <a class="light blue-text hover" href="#">know more</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card small">
            <div class="card-image">
              <%= image_tag 'event6.jpg', class: 'responsive-img'%>
            </div>
            <div class="card-content">
              <p class="light blue-grey-text">
                  <i class="fa fa-calendar-plus-o"></i><span class="event-date black-text">Wed Setember 20, 2015</span>
                </p>
                <p class="light blue-grey-text">
                  <i class="fa fa-calendar-minus-o"></i><span class="event-date black-text">Wed October 20, 2015</span>
              </p>
            </div>
            <div class="card-action">
              <a class="light blue-text hover" href="#">know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="parallax-container valign-wrapper">
    <div class="parallax"><%= image_tag 'event7.jpg'%></div>
  </div>
  <main>

<%= render 'shared/footer' %>
